<html>
    <head>
        {% if title %}
        <title>{{ title }} - RM Jenkins Manager</title>
        {% else %}
        <title>RM Jenkins Manager</title>
        {% endif %}
        <link rel="stylesheet" href="/static/base.css">
    </head>
    <body>

        <center>
            <div class="header">
                <h2>RM-Jenkins - Admin Console</h2>
                <div class="flex-cont-space-around">

                    <div>
                        <a href="/servers"> Servers </a>
                    </div>
                    <div>
                        <a href="/storybooks"> Storybooks </a>
                    </div>
                    <div class="flex-right">
                    <div>
                        <a href="/messages"><img src="/static/images/logs.png" title="Logs" alt="Logs"></a>
                    </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="header">
                {% block content %}{% endblock %}
            </div>
            <div class="header">
                <hr>
            </div>

        </center>
    </body>
</html>